// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
	text-align: center;
	margin-top: 2em;
	padding-top: 2em;
	border: 1px black solid;
	.form-row {
		margin-bottom: 2em;
	}
}
