// Place all the styles related to the Outlets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-container {
	text-align: center;
	margin-top: 2em;
	padding-top: 2em;
	border: 1px black solid;
		.outlet-menu-container {
			position: relative;
			height: 4.5em;
			margin-left: 0.5em;
			.outlet-dropdown {
				position: relative;
				top: 1.8em;
				background-color: #bdf1e3;
			}
		}
		.outlet-urgency-container {
			position: relative;
			height: 4.5em;
			margin-left: 0.1em;
			.urgency-dropdown {
				position: relative;
				top: 1.8em;
				padding: 0;
				background-color: #bde5f1;
			}
		}
}

.form-row {
	margin-bottom: 2em;
}

.select-picker {
	background-color: red;
}